<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="generator.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="signature" column="signature" jdbcType="VARCHAR"/>
            <result property="bucket" column="bucket" jdbcType="VARCHAR"/>
            <result property="object" column="object" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,password,
        sex,phone,email,
        address,signature,bucket,
        object
    </sql>
</mapper>
